/************

----------------1. Typography--------------------
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Font weights 
400(default),500,600,700

Line heights: 
1(default),1.1, 1.7,1.05

------------------2.Colors------------------------
Primary: #e67e22
Tints:#fdf2e9 #fae5d3 #eb984e
Shades:#cf711f

Gerys: #555 #333 #fff #888 #ddd #6f6f6f #aaa #777 #767676 #eee
Accent: #51cf66 #94d82d #ffd43b

-----------------3.Images-------------------------
Source:Unsplash,UIfaces

-----------------4.Icons--------------------------

-----------------5.Shadows------------------------
box-shadow: 1rem

-----------------6.Border-radius------------------

-----------------7.Whitespaces--------------------
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*************/

/***************
Global Reset
**************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/**************************
  Geniric styles
***************************/
html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Rubik", sans-serif;
  color: #555;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.05;
  color: #333;
}

.heading-primary {
  font-size: 4.4rem;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 3.6rem;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.075rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 1rem;
  transition: all 0.3s;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 2px #fae5d3;
}

.link:link,
.link:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 0.08rem;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 3.2rem !important;
}

.center-text {
  text-align: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0rem 3.2rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 6.4rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5--cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid-center-v {
  align-items: center;
}

strong {
  font-weight: 500;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(230, 125, 34, 0.5);
}
